/**
 * Styles du composant CocktailDetails
 * Organisation verticale des éléments (image, titre, description)
 */
:host {
  display: flex; // Layout flexbox
  flex-direction: column; // Organisation verticale : image -> nom -> description
}
